body {
  font-family: 'Poppins';
  background: #050801;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 22px;
}

.disclaimer {
  position: absolute;
  bottom: 120px;
  left: 20px;
  border-left-color: #cb2222;
}

.installButton {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: relative;
  top: 50px;
}
.install{
  padding: 30px 90px;
  background-color: #050801;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  letter-spacing: 7px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.startInstall {
  color: #50C878;
}
.startInstall:hover{
  background: #03C988	;
  color: #050801;
  box-shadow: 0 0 5px #03C988	,
              0 0 25px #03C988	,
              0 0 50px #03C988	,
              0 0 200px #03C988;
}
